.recipecard {
  transition: 0.5s;
}

.recipecard:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.recipecardheader {
  background-color: #fff;
}

.recipecardbody:hover {
  cursor: pointer;
}
