.ingredientsbox {
  border: 1px solid #c7c5c5;
  border-radius: 5px;

  padding: 0.5rem;
  height: 100%;
}

.descriptionbox {
  font-family: inherit;
  padding: 0.5rem;
  white-space: normal;

  border: 1px solid #c7c5c5;
  border-radius: 5px;
}

.ingredientsectionbox {
  border: 1px solid #c7c5c5;
  border-radius: 5px;

  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.ingredientsectionbox:last-child() {
  margin-bottom: 0;
}

.ingredientsectiontitle {
  font-weight: 500;
}

/* .ingredientslist {
} */

.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem 1.75rem;
  border-bottom: 1px solid #c2c1c1;
  /* margin-bottom: 0.25rem; */

  transition: 0.2s;
}

/* .ingredient:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

.ingredient:last-child {
  border-bottom: 0px solid;
  margin-bottom: auto;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.ingredient:hover {
  background-color: #f2f2f2;
  transition: 0.2s;
}

@media (max-width: 564px) {
  .ingredientinput,
  .ingredientamountinput,
  .ingredientunitinput {
    width: 60px !important;
  }
}
